@import "tailwindcss";

@theme inline {
  --font-graphik: var(--font-graphik), sans-serif;
  --font-orator-std: var(--font-orator-std), monospace;
  --color-primary: #ffddeb;
  --color-secondary: #1066ca;
  --color-darkgray: #171717;
  --color-midgray: #2f3336;
  --color-lightgray: #9f9eb1;
  --color-offwhite: #f9f6f5;
  --color-brown-shadow: rgba(202, 130, 93, 0.25);
  --breakpoint-xxs: 419px;
  --breakpoint-xs: 454px;
  --breakpoint-sm: 527px;
}

/* Set base root font-size based on breakpoint */
html {
  font-size: 16px;
}
@media (width >= 1536px) {
  html {
    font-size: 20px;
  }
}

/* Set text elements font style */
@layer base {
  h1 {
    font-family: var(--font-orator-std);
    font-size: var(--text-6xl);
    line-height: 1.333;
    letter-spacing: 0.225rem;
    text-transform: uppercase;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
  h2 {
    font-family: var(--font-orator-std);
    font-size: var(--text-4xl);
    line-height: 1.2;
    font-variant: all-small-caps;
    letter-spacing: 0.08rem;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
  h3 {
    font-family: var(--font-graphik);
    font-size: var(--text-2xl);
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
  h4,
  a.cta-button,
  a.cta-button * {
    font-family: var(--font-orator-std);
    font-size: var(--text-xl);
    line-height: 1.5;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
  h5 {
    font-family: var(--font-graphik);
    font-size: var(--text-lg);
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.0675rem;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
  h6 {
    font-family: var(--font-graphik);
    font-size: var(--text-lg);
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.0675rem;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
  figcaption {
    font-family: var(--font-graphik);
    font-size: var(--text-base);
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.06rem;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
  strong {
    font-family: var(--font-graphik);
    font-size: var(--text-lg);
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.045rem;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
  p {
    font-family: var(--font-graphik);
    font-size: var(--text-lg);
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.0675rem;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
}
